In [17]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re

import cpi
cpi.update()

In [2]:
imdb_movies = pd.read_csv('IMDb movies.csv')
imdb_movies.head()

/home/daniel/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [3]:
imdb_ratings = pd.read_csv('IMDb ratings.csv')
imdb_ratings.head()

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,5.8,188,6.0,6.0,6,6,17,44,52,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,5.2,446,5.3,5.0,15,8,16,62,98,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,7.0,2237,6.9,7.0,210,225,436,641,344,...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0

In [4]:
movies = pd.merge(imdb_movies, imdb_ratings, on = 'imdb_title_id')

In [5]:
movies.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0

In [6]:
movies_usa = movies[movies['country'] == 'USA']
movies_usa.sample(10)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
84614,tt8710832,Space,Space,2020,2020-03-31,"Horror, Sci-Fi",93,USA,English,Monte Light,...,1.2,6.0,2.5,6.0,1.5,8.0,1.9,39.0,1.7,86.0
54276,tt1125297,We Are the Mods,We Are the Mods,2009,2010-07-16,Drama,80,USA,English,E.E. Cassidy,...,5.0,44.0,6.8,50.0,2.5,11.0,8.6,193.0,3.0,20.0
5249,tt0038531,The Flying Serpent,The Flying Serpent,1946,1946-02-01,Horror,59,USA,English,Sam Newfield,...,4.7,8.0,5.5,17.0,4.8,58.0,5.0,219.0,4.8,89.0
17920,tt0075931,Generazione Proteus,Demon Seed,1977,1977-12-31,"Horror, Sci-Fi",94,USA,English,Donald Cammell,...,6.3,294.0,6.0,284.0,6.0,292.0,6.3,2011.0,6.3,3839.0
37262,tt0228333,Fantasmi da Marte,Ghosts of Mars,2001,2001-09-07,"Action, Horror, Sci-Fi",98,USA,English,John Carpenter,...,4.9,1885.0,5.3,894.0,4.8,520.0,5.0,10985.0,4.9,25047.0
45721,tt0415345,7 Mummies,Seven Mummies,2006,2006-02-27,"Action, Adventure, Drama",90,USA,English,Nick Quested,...,2.5,145.0,2.5,61.0,2.8,92.0,2.4,449.0,2.4,1380.0
55373,tt12038670,Dragon Soldiers,Dragon Soldiers,2020,2020-05-11,"Action, Fantasy",89,USA,English,Hank Braxtan,...,1.3,3.0,6.0,3.0,2.8,10.0,3.5,20.0,2.5,68.0
8637,tt0049038,Fermata d'autobus,Bus Stop,1956,1956-09-20,"Comedy, Drama, Romance",96,USA,English,Joshua Logan,...,6.5,1069.0,6.9,757.0,6.2,324.0,6.5,3014.0,6.4,4533.0
41776,tt0316465,Mi chiamano Radio,Radio,2003,2004-05-14,"Biography, Drama, Sport",109,USA,English,Michael Tollin,...,7.2,2667.0,7.5,1042.0,6.2,295.0,6.7,13979.0,7.0,12129.0
42854,tt0345466,Just Another Story,Just Another Story,2003,2006-07-01,"Comedy, Drama, Musical",100,USA,English,GQ,...,4.0,12.0,2.0,2.0,3.8,12.0,4.4,45.0,3.0,37.0

In [7]:
pd.options.display.max_rows = 999
print(str(movies_usa.isna().sum()))

imdb_title_id                    0
title                            0
original_title                   0
year                             0
date_published                   0
genre                            0
duration                         0
country                          0
language                       345
director                        34
writer                         201
production_company            1160
actors                          26
description                     74
avg_vote                         0
votes                            0
budget                       18023
usa_gross_income             20947
worlwide_gross_income        20808
metascore                    21902
reviews_from_users             305
reviews_from_critics          1876
weighted_average_vote            0
total_votes                      0
mean_vote                        0
median_vote                      0
votes_10                         0
votes_9                          0
votes_8                          0
votes_7                          0
votes_6                          0
votes_5                          0
votes_4                          0
votes_3                          0
votes_2                          0
votes_1                          0
allgenders_0age_avg_vote     15700
allgenders_0age_votes        15700
allgenders_18age_avg_vote      335
allgenders_18age_votes         335
allgenders_30age_avg_vote        0
allgenders_30age_votes           0
allgenders_45age_avg_vote        1
allgenders_45age_votes           1
males_allages_avg_vote           1
males_allages_votes              1
males_0age_avg_vote          18261
males_0age_votes             18261
males_18age_avg_vote           755
males_18age_votes              755
males_30age_avg_vote             2
males_30age_votes                2
males_45age_avg_vote             2
males_45age_votes                2
females_allages_avg_vote         7
females_allages_votes            7
females_0age_avg_vote        18721
females_0age_votes           18721
females_18age_avg_vote        2162
females_18age_votes           2162
females_30age_avg_vote         180
females_30age_votes            180
females_45age_avg_vote         146
females_45age_votes            146
top1000_voters_rating           14
top1000_voters_votes            14
us_voters_rating                 2
us_voters_votes                  2
non_us_voters_rating             1
non_us_voters_votes              1
dtype: int64

In [8]:
movies_usa.shape

(28511, 70)

In [9]:
select =  ['imdb_title_id',
           'title',
           'original_title',
           'year',
           'date_published',
           'genre',
           'director',
           'avg_vote',
           'votes',
           'budget',
           'males_allages_avg_vote',
           'males_allages_votes',
           'females_allages_avg_vote',
           'females_allages_votes']

movies_usa = movies_usa[select]

Convert to date time

In [10]:
movies_usa['date_published'] = pd.to_datetime(movies_usa['date_published'], format='%Y-%m-%d', errors = 'coerce' )
movies_usa.dtypes

imdb_title_id                       object
title                               object
original_title                      object
year                                object
date_published              datetime64[ns]
genre                               object
director                            object
avg_vote                           float64
votes                                int64
budget                              object
males_allages_avg_vote             float64
males_allages_votes                float64
females_allages_avg_vote           float64
females_allages_votes              float64
dtype: object

In [30]:
def convert_budget(row):
    if pd.isnull(row['budget']):
        return np.nan
    year = row['year'] if isinstance(row['year'], int) else  int(re.search(r'[0-9]{4}',row['year']).group(0))
    
    if not year in range(1913,2020) :
        return np.nan
    
    if '$' in row['budget']:
        budget = int(row['budget'].replace('$', ''))
        return cpi.inflate(budget, year)
    else:
        return np.nan

In [32]:
movies_usa['adjusted_budget'] = movies_usa.apply(convert_budget, axis = 1)

In [33]:
movies_usa.head()

,imdb_title_id,title,original_title,year,date_published,genre,director,avg_vote,votes,budget,males_allages_avg_vote,males_allages_votes,females_allages_avg_vote,females_allages_votes,adjusted_budget
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,Alexander Black,5.9,154,NaN,6.2,97.0,6.0,35.0,NaN
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",Charles L. Gaskill,5.2,446,$ 45000,5.1,299.0,5.9,39.0,NaN
5,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913-01-01,"Biography, Drama",Sidney Olcott,5.7,484,NaN,5.7,354.0,5.8,31.0,NaN
17,tt0003167,Amore di madre,"Home, Sweet Home",1914,1914-05-17,Drama,D.W. Griffith,5.8,187,NaN,5.7,124.0,6.4,16.0,NaN
19,tt0003471,Traffic in Souls,Traffic in Souls,1913,1913-11-24,"Crime, Drama",George Loane Tucker,6.0,552,$ 5700,5.9,399.0,6.5,54.0,147196.454545

In [34]:
movies_usa['genre'] = movies_usa['genre'].apply(lambda x: x.replace(' ',''))
movies_usa = pd.concat([movies_usa, movies_usa['genre'].str.get_dummies(',')], axis = 1)
movies_usa.head()

,imdb_title_id,title,original_title,year,date_published,genre,director,avg_vote,votes,budget,...,Musical,Mystery,News,Reality-TV,Romance,Sci-Fi,Sport,Thriller,War,Western
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,Alexander Black,5.9,154,NaN,...,0,0,0,0,1,0,0,0,0,0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama,History",Charles L. Gaskill,5.2,446,$ 45000,...,0,0,0,0,0,0,0,0,0,0
5,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913-01-01,"Biography,Drama",Sidney Olcott,5.7,484,NaN,...,0,0,0,0,0,0,0,0,0,0
17,tt0003167,Amore di madre,"Home, Sweet Home",1914,1914-05-17,Drama,D.W. Griffith,5.8,187,NaN,...,0,0,0,0,0,0,0,0,0,0
19,tt0003471,Traffic in Souls,Traffic in Souls,1913,1913-11-24,"Crime,Drama",George Loane Tucker,6.0,552,$ 5700,...,0,0,0,0,0,0,0,0,0,0

In [35]:
print(str(movies_usa.isna().sum()))

imdb_title_id                   0
title                           0
original_title                  0
year                            0
date_published                  1
genre                           0
director                       34
avg_vote                        0
votes                           0
budget                      18023
males_allages_avg_vote          1
males_allages_votes             1
females_allages_avg_vote        7
females_allages_votes           7
adjusted_budget             18090
Action                          0
Adventure                       0
Animation                       0
Biography                       0
Comedy                          0
Crime                           0
Documentary                     0
Drama                           0
Family                          0
Fantasy                         0
Film-Noir                       0
History                         0
Horror                          0
Music                           0
Musical                         0
Mystery                         0
News                            0
Reality-TV                      0
Romance                         0
Sci-Fi                          0
Sport                           0
Thriller                        0
War                             0
Western                         0
dtype: int64