In [ ]:
! pip install numpy

In [2]:
! pip install pandas

Collecting pandas
  Downloading pandas-1.1.4-cp36-cp36m-manylinux1_x86_64.whl (9.5 MB)
     |████████████████████████████████| 9.5 MB 6.7 MB/s eta 0:00:01
Collecting numpy>=1.15.4
  Downloading numpy-1.19.4-cp36-cp36m-manylinux2010_x86_64.whl (14.5 MB)
     |████████████████████████████████| 14.5 MB 5.7 MB/s eta 0:00:01
Collecting pytz>=2017.2
  Downloading pytz-2020.4-py2.py3-none-any.whl (509 kB)
     |████████████████████████████████| 509 kB 7.3 MB/s eta 0:00:01
Collecting python-dateutil>=2.7.3
  Using cached python_dateutil-2.8.1-py2.py3-none-any.whl (227 kB)
Collecting six>=1.5
  Using cached six-1.15.0-py2.py3-none-any.whl (10 kB)
Installing collected packages: numpy, pytz, six, python-dateutil, pandas
Successfully installed numpy-1.19.4 pandas-1.1.4 python-dateutil-2.8.1 pytz-2020.4 six-1.15.0

In [2]:
print("hi")

hi

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [13]:
imdb_movies = pd.read_csv('IMDb movies.csv')
imdb_movies.head()

/home/daniel/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [4]:
imdb_ratings = pd.read_csv('IMDb ratings.csv')
imdb_ratings.head()

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,5.8,188,6.0,6.0,6,6,17,44,52,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,5.2,446,5.3,5.0,15,8,16,62,98,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,7.0,2237,6.9,7.0,210,225,436,641,344,...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0

In [5]:
movies = pd.merge(imdb_movies, imdb_ratings, on = 'imdb_title_id')

In [6]:
movies.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0

In [39]:
movies_usa = movies[movies['country'] == 'USA']
movies_usa.sample(10)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
28558,tt0111525,Due teneri angioletti,The Crazysitter,1994,1994-12-31,"Comedy, Crime, Drama",92,USA,English,Michael McDonald,...,5.7,32.0,3.9,9.0,5.0,49.0,5.8,105.0,4.6,107.0
13621,tt0063306,Senza sosta,The Mini-Skirt Mob,1968,1968-05-23,"Action, Drama",82,USA,English,Maury Dexter,...,5.0,9.0,5.8,7.0,4.6,64.0,4.8,199.0,4.8,88.0
8157,tt0047562,Il figlio di Kociss,"Taza, Son of Cochise",1954,1954-02-18,"Action, Drama, Romance",79,USA,"English, Spanish",Douglas Sirk,...,5.7,15.0,5.7,24.0,5.5,103.0,5.6,197.0,5.8,386.0
30169,tt0117731,Primo contatto,Star Trek: First Contact,1996,1997-02-14,"Action, Adventure, Drama",111,USA,English,Jonathan Frakes,...,7.6,4495.0,7.7,2965.0,7.1,645.0,7.6,30089.0,7.5,45465.0
63461,tt1959526,Buttwhistle,Buttwhistle,2014,2014-04-25,"Comedy, Crime, Drama",93,USA,English,Tenney Fairchild,...,3.6,21.0,4.8,6.0,4.5,50.0,4.4,97.0,4.4,114.0
21902,tt0089036,Prigione modello,Doin' Time,1985,1985-05-19,Comedy,81,USA,English,George Mendeluk,...,6.3,5.0,3.7,3.0,4.5,45.0,4.6,77.0,5.3,95.0
81418,tt6886080,To the Stars,To the Stars,2019,2020-04-24,Drama,109,USA,English,Martha Stephens,...,6.4,75.0,5.8,28.0,5.5,49.0,6.6,185.0,6.1,359.0
11185,tt0056267,La mia geisha,My Geisha,1962,1962-02-01,"Comedy, Drama, Romance",119,USA,"English, Japanese",Jack Cardiff,...,6.8,101.0,7.0,150.0,6.0,124.0,6.6,401.0,6.5,523.0
3064,tt0030550,Pals of the Saddle,Pals of the Saddle,1938,1938-08-28,"Action, Adventure, Drama",55,USA,English,George Sherman,...,6.3,9.0,7.6,17.0,5.8,47.0,6.6,151.0,5.1,58.0
1305,tt0022938,Girl Crazy,Girl Crazy,1932,1932-03-25,"Comedy, Musical",74,USA,English,William A. Seiter,...,6.5,10.0,5.4,16.0,6.3,39.0,6.1,141.0,5.7,33.0

In [37]:
pd.options.display.max_rows = 999
print(str(movies_usa.isna().sum()))

imdb_title_id                    0
title                            0
original_title                   0
year                             0
date_published                   0
genre                            0
duration                         0
country                          0
language                       345
director                        34
writer                         201
production_company            1160
actors                          26
description                     74
avg_vote                         0
votes                            0
budget                       18023
usa_gross_income             20947
worlwide_gross_income        20808
metascore                    21902
reviews_from_users             305
reviews_from_critics          1876
weighted_average_vote            0
total_votes                      0
mean_vote                        0
median_vote                      0
votes_10                         0
votes_9                          0
votes_8                          0
votes_7                          0
votes_6                          0
votes_5                          0
votes_4                          0
votes_3                          0
votes_2                          0
votes_1                          0
allgenders_0age_avg_vote     15700
allgenders_0age_votes        15700
allgenders_18age_avg_vote      335
allgenders_18age_votes         335
allgenders_30age_avg_vote        0
allgenders_30age_votes           0
allgenders_45age_avg_vote        1
allgenders_45age_votes           1
males_allages_avg_vote           1
males_allages_votes              1
males_0age_avg_vote          18261
males_0age_votes             18261
males_18age_avg_vote           755
males_18age_votes              755
males_30age_avg_vote             2
males_30age_votes                2
males_45age_avg_vote             2
males_45age_votes                2
females_allages_avg_vote         7
females_allages_votes            7
females_0age_avg_vote        18721
females_0age_votes           18721
females_18age_avg_vote        2162
females_18age_votes           2162
females_30age_avg_vote         180
females_30age_votes            180
females_45age_avg_vote         146
females_45age_votes            146
top1000_voters_rating           14
top1000_voters_votes            14
us_voters_rating                 2
us_voters_votes                  2
non_us_voters_rating             1
non_us_voters_votes              1
dtype: int64

In [9]:
movies_usa.shape

(28511, 70)

In [40]:
select =  ['imdb_title_id',
           'title',
           'original_title',
           'year',
           'date_published',
           'genre',
           'director',
           'avg_vote',
           'votes',
           'budget',
           'males_allages_avg_vote',
           'males_allages_votes',
           'females_allages_avg_vote',
           'females_allages_votes']

movies_usa = movies_usa[select]

Convert to date time

In [47]:
movies_usa['date_published'] = pd.to_datetime(movies_usa['date_published'], format='%Y-%m-%d', errors = 'coerce' )
movies_usa.dtypes

imdb_title_id                       object
title                               object
original_title                      object
year                                object
date_published              datetime64[ns]
genre                               object
director                            object
avg_vote                           float64
votes                                int64
budget                              object
males_allages_avg_vote             float64
males_allages_votes                float64
females_allages_avg_vote           float64
females_allages_votes              float64
dtype: object

In [ ]:
def convert_budget(val):
    if pd.isnull(val):
        return np.nan
    
    if '$' in val:
        return int(val.replace('$', ''))
    elif 'GBP' in val:

In [41]:
movies_usa.head()

,imdb_title_id,title,original_title,year,date_published,genre,director,avg_vote,votes,budget,males_allages_avg_vote,males_allages_votes,females_allages_avg_vote,females_allages_votes
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,Alexander Black,5.9,154,NaN,6.2,97.0,6.0,35.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",Charles L. Gaskill,5.2,446,$ 45000,5.1,299.0,5.9,39.0
5,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913,"Biography, Drama",Sidney Olcott,5.7,484,NaN,5.7,354.0,5.8,31.0
17,tt0003167,Amore di madre,"Home, Sweet Home",1914,1914-05-17,Drama,D.W. Griffith,5.8,187,NaN,5.7,124.0,6.4,16.0
19,tt0003471,Traffic in Souls,Traffic in Souls,1913,1913-11-24,"Crime, Drama",George Loane Tucker,6.0,552,$ 5700,5.9,399.0,6.5,54.0

In [12]:
movies_usa = pd.concat([movies_usa, movies_usa['genre'].str.get_dummies(',')], axis = 1)
movies_usa.head()

,imdb_title_id,title,original_title,year,genre,director,avg_vote,votes,budget,males_allages_avg_vote,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
0,tt0000009,Miss Jerry,Miss Jerry,1894,Romance,Alexander Black,5.9,154,NaN,6.2,...,0,0,0,0,1,0,0,0,0,0
3,tt0002101,Cleopatra,Cleopatra,1912,"Drama, History",Charles L. Gaskill,5.2,446,$ 45000,5.1,...,0,0,0,0,0,0,0,0,0,0
5,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,"Biography, Drama",Sidney Olcott,5.7,484,NaN,5.7,...,0,0,0,0,0,0,0,0,0,0
17,tt0003167,Amore di madre,"Home, Sweet Home",1914,Drama,D.W. Griffith,5.8,187,NaN,5.7,...,0,0,0,0,0,0,0,0,0,0
19,tt0003471,Traffic in Souls,Traffic in Souls,1913,"Crime, Drama",George Loane Tucker,6.0,552,$ 5700,5.9,...,0,0,0,0,0,0,0,0,0,0