In [ ]:
! pip install numpy

In [2]:
! pip install pandas

Collecting pandas
  Downloading pandas-1.1.4-cp36-cp36m-manylinux1_x86_64.whl (9.5 MB)
     |████████████████████████████████| 9.5 MB 6.7 MB/s eta 0:00:01
Collecting numpy>=1.15.4
  Downloading numpy-1.19.4-cp36-cp36m-manylinux2010_x86_64.whl (14.5 MB)
     |████████████████████████████████| 14.5 MB 5.7 MB/s eta 0:00:01
Collecting pytz>=2017.2
  Downloading pytz-2020.4-py2.py3-none-any.whl (509 kB)
     |████████████████████████████████| 509 kB 7.3 MB/s eta 0:00:01
Collecting python-dateutil>=2.7.3
  Using cached python_dateutil-2.8.1-py2.py3-none-any.whl (227 kB)
Collecting six>=1.5
  Using cached six-1.15.0-py2.py3-none-any.whl (10 kB)
Installing collected packages: numpy, pytz, six, python-dateutil, pandas
Successfully installed numpy-1.19.4 pandas-1.1.4 python-dateutil-2.8.1 pytz-2020.4 six-1.15.0

In [1]:
print("hi")
print("h")

hi
h

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [2]:
imdb_movies = pd.read_csv('IMDb movies.csv')
imdb_movies.head()

/home/luis/comp_4447/p_env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [3]:
imdb_ratings = pd.read_csv('IMDb ratings.csv')
imdb_ratings.head()

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,5.8,188,6.0,6.0,6,6,17,44,52,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,5.2,446,5.3,5.0,15,8,16,62,98,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,7.0,2237,6.9,7.0,210,225,436,641,344,...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0

In [28]:
movies = pd.merge(imdb_movies, imdb_ratings, on = 'imdb_title_id')

In [31]:
movies.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0

In [37]:
movies_usa = movies[movies['country'] == 'USA']
movies_usa.sample(10)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
5561,tt0039463,Alta marea,High Tide,1947,1947-09-13,"Film-Noir, Mystery",72,USA,English,John Reinhardt,...,7.3,5.0,6.7,8.0,6.8,24.0,6.6,47.0,6.4,36.0
61883,tt1778906,Slew Hampshire,Slew Hampshire,2013,2015-06-06,"Drama, Horror, Thriller",103,USA,English,Flood Reed,...,5.3,25.0,4.8,16.0,3.1,9.0,4.8,121.0,3.3,36.0
39988,tt0281811,Disaster,Disaster,2003,2003-04-17,"Action, Adventure, Crime",90,USA,English,Yossi Wein,...,4.3,8.0,2.5,11.0,2.6,21.0,3.4,41.0,2.0,137.0
39498,tt0273311,Killer Me,Killer Me,2001,2001-09-01,"Mystery, Thriller, Horror",80,USA,English,Zachary Hansen,...,5.0,29.0,5.8,47.0,5.3,12.0,4.6,161.0,4.9,48.0
31233,tt0120660,Nemico pubblico,Enemy of the State,1998,1999-01-15,"Action, Thriller",132,USA,English,Tony Scott,...,7.2,10360.0,7.4,3807.0,7.1,732.0,7.3,41347.0,7.3,111050.0
71700,tt3548978,West of Her,West of Her,2016,2018-02-06,"Drama, Romance",90,USA,English,Ethan Warren,...,5.0,7.0,3.7,3.0,4.3,16.0,5.5,24.0,5.4,105.0
55688,tt1228953,Big Fan,Big Fan,2009,2009-01-18,"Comedy, Crime, Drama",88,USA,English,Robert Siegel,...,6.3,277.0,6.5,155.0,6.0,126.0,6.8,4368.0,6.5,2907.0
4597,tt0036377,Bernadette,The Song of Bernadette,1943,1947-05-09,"Biography, Drama",156,USA,"English, French",Henry King,...,7.3,313.0,7.8,539.0,6.9,266.0,7.7,2357.0,7.4,2009.0
14539,tt0065938,I guerrieri,Kelly's Heroes,1970,1970-06-23,"Adventure, Comedy, War",144,USA,"English, French, German",Brian G. Hutton,...,7.5,775.0,7.5,956.0,7.2,483.0,7.7,10117.0,7.6,20610.0
45175,tt0400717,Boog & Elliot a caccia di amici,Open Season,2006,2006-12-07,"Animation, Adventure, Comedy",86,USA,English,"Roger Allers, Jill Culton",...,6.3,6794.0,6.3,1292.0,5.8,485.0,5.9,13848.0,6.2,39267.0

In [42]:
pd.options.display.max_rows = 999
print(str(movies_usa.isna().sum()))

imdb_title_id                    0
title                            0
original_title                   0
year                             0
date_published                   0
genre                            0
duration                         0
country                          0
language                       345
director                        34
writer                         201
production_company            1160
actors                          26
description                     74
avg_vote                         0
votes                            0
budget                       18023
usa_gross_income             20947
worlwide_gross_income        20808
metascore                    21902
reviews_from_users             305
reviews_from_critics          1876
weighted_average_vote            0
total_votes                      0
mean_vote                        0
median_vote                      0
votes_10                         0
votes_9                          0
votes_8                          0
votes_7                          0
votes_6                          0
votes_5                          0
votes_4                          0
votes_3                          0
votes_2                          0
votes_1                          0
allgenders_0age_avg_vote     15700
allgenders_0age_votes        15700
allgenders_18age_avg_vote      335
allgenders_18age_votes         335
allgenders_30age_avg_vote        0
allgenders_30age_votes           0
allgenders_45age_avg_vote        1
allgenders_45age_votes           1
males_allages_avg_vote           1
males_allages_votes              1
males_0age_avg_vote          18261
males_0age_votes             18261
males_18age_avg_vote           755
males_18age_votes              755
males_30age_avg_vote             2
males_30age_votes                2
males_45age_avg_vote             2
males_45age_votes                2
females_allages_avg_vote         7
females_allages_votes            7
females_0age_avg_vote        18721
females_0age_votes           18721
females_18age_avg_vote        2162
females_18age_votes           2162
females_30age_avg_vote         180
females_30age_votes            180
females_45age_avg_vote         146
females_45age_votes            146
top1000_voters_rating           14
top1000_voters_votes            14
us_voters_rating                 2
us_voters_votes                  2
non_us_voters_rating             1
non_us_voters_votes              1
dtype: int64

In [49]:
movies_usa.shape

(28511, 70)

In [53]:
select =  ['imdb_title_id',
           'title',
           'original_title',
           'year',
           'genre',
           'director',
           'avg_vote',
           'votes',
           'budget',
           'males_allages_avg_vote',
           'males_allages_votes',
           'females_allages_avg_vote',
           'females_allages_votes']

movies_usa = movies_usa[select]

In [55]:
movies_usa.head()

,imdb_title_id,title,original_title,year,genre,director,avg_vote,votes,budget,males_allages_avg_vote,males_allages_votes,females_allages_avg_vote,females_allages_votes
0,tt0000009,Miss Jerry,Miss Jerry,1894,Romance,Alexander Black,5.9,154,NaN,6.2,97.0,6.0,35.0
3,tt0002101,Cleopatra,Cleopatra,1912,"Drama, History",Charles L. Gaskill,5.2,446,$ 45000,5.1,299.0,5.9,39.0
5,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,"Biography, Drama",Sidney Olcott,5.7,484,NaN,5.7,354.0,5.8,31.0
17,tt0003167,Amore di madre,"Home, Sweet Home",1914,Drama,D.W. Griffith,5.8,187,NaN,5.7,124.0,6.4,16.0
19,tt0003471,Traffic in Souls,Traffic in Souls,1913,"Crime, Drama",George Loane Tucker,6.0,552,$ 5700,5.9,399.0,6.5,54.0

In [67]:
movies_usa = pd.concat([movies_usa, movies_usa['genre'].str.get_dummies(',')], axis = 1)
movies_usa.head()

,imdb_title_id,title,original_title,year,genre,director,avg_vote,votes,budget,males_allages_avg_vote,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
0,tt0000009,Miss Jerry,Miss Jerry,1894,Romance,Alexander Black,5.9,154.0,NaN,6.2,...,0,0,0,0,1,0,0,0,0,0
3,tt0002101,Cleopatra,Cleopatra,1912,"Drama, History",Charles L. Gaskill,5.2,446.0,$ 45000,5.1,...,0,0,0,0,0,0,0,0,0,0
5,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,"Biography, Drama",Sidney Olcott,5.7,484.0,NaN,5.7,...,0,0,0,0,0,0,0,0,0,0
17,tt0003167,Amore di madre,"Home, Sweet Home",1914,Drama,D.W. Griffith,5.8,187.0,NaN,5.7,...,0,0,0,0,0,0,0,0,0,0
19,tt0003471,Traffic in Souls,Traffic in Souls,1913,"Crime, Drama",George Loane Tucker,6.0,552.0,$ 5700,5.9,...,0,0,0,0,0,0,0,0,0,0